* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-image: url("../imgs/digital.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav .navbar-toggler {
  border: none;
}
nav .navbar-toggler:focus, nav .navbar-toggler:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
nav .navbar-brand img {
  width: 40px;
}
nav .offcanvas {
  width: 200px !important;
  border-radius: 10px;
}
nav .offcanvas .offcanvas-body ul li {
  position: relative;
  cursor: pointer;
}
nav .offcanvas .offcanvas-body ul li a, nav .offcanvas .offcanvas-body ul li .sun {
  color: white !important;
}
nav .offcanvas .offcanvas-body ul li a:hover, nav .offcanvas .offcanvas-body ul li .sun:hover {
  color: #ff9500 !important;
}
nav .offcanvas .offcanvas-body ul li a.active, nav .offcanvas .offcanvas-body ul li .sun.active {
  color: #ff9500 !important;
}
nav .offcanvas .offcanvas-body ul li .dropdown-menu a {
  color: black !important;
}

.todo-task .task {
  -webkit-box-shadow: 1px 1px 5px #aaaaaa;
          box-shadow: 1px 1px 5px #aaaaaa;
}
.todo-task .task .task-head .btn {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.todo-task .task .task-head .btn:hover {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ffc400), color-stop(#ffb800), color-stop(#ffad00), color-stop(#ffa100), to(#ff9500));
  background-image: linear-gradient(to right top, #ffc400, #ffb800, #ffad00, #ffa100, #ff9500);
  color: white;
}
.todo-task .task .task-body ul li {
  -webkit-box-shadow: 1px 1px 5px #aaaaaa;
          box-shadow: 1px 1px 5px #aaaaaa;
  border-radius: 10px;
  position: relative;
}
.todo-task .task .task-body ul li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 2px solid black;
  border-radius: 50%;
  left: 10px;
  cursor: pointer;
}
.todo-task .task .task-body ul li::before:hover {
  background-image: url("../imgs/checked.png");
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: 3;
  top: 50px;
}
.todo-task .task .task-body ul li .text-task span {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid red;
  cursor: pointer;
  z-index: 1;
}
.todo-task .task .task-body ul li .text-task p {
  border-bottom: 1px solid black;
}
.todo-task .task .task-body ul .date-task > p {
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  width: 30px;
  height: 30px;
  background-color: #aaa;
  cursor: pointer;
}